doctype html
html
	head
		title= "WebMarks"
		link(rel='stylesheet', href='/webmarks/css/sitestyle.css')
		link(rel='stylesheet', href='/webmarks/css/bootstrap-select.min.css')
		script(src='/webmarks/js/lib/jquery/jquery-1.11.3.min.js')
		script(src='/webmarks/js/lib/bootstrap/bootstrap.min.js')
		script(src='/webmarks/js/lib/bootstrap/bootstrap-select.min.js')
		block headerScripts		
		<meta name="viewport" content="width=device-width, initial-scale=1">
	body
		block content

		footer.footer
			.container
				p
					small
						| Developed for UCT Physics by Angus Comrie