extends layout

block headerScripts
	script.
		var hists=!{hists}
		var courseName="#{courseName}"
	script(src='/webmarks/js/lib/highcharts/highcharts.js')
	script(src='/webmarks/js/lib/highcharts/highcharts-more.js')
	script(src='/webmarks/js/client.js')

block content
	.navbar.navbar-inverse(role = 'navigation')
		.container
			.navbar-header
				.navbar-brand
					span.glyphicon.glyphicon-list-alt
					|#{courseName}
	.container
		.alert.alert-default#studentInfo
			.row
				.col-xs-12
					span #{studentName} (#{studentID})
			- if (dpStatus) {
				.row.bottom10
					.col-xs-12
						- var labelClass="label-danger";
						if (dpStatus=="DP")
							- labelClass="label-success"										
						span.label(class=labelClass) DP Status: #{dpStatus}    
			- }
			.row
				.col-xs-12
					span.label.label-primary Updated on #{updateDate}
		.row
			.col-xs-12
				.panel-group#accordionMarks(role="tablist", aria-multiselectable="false")
					- for (var i = 0, j = 0; i < averages.length; i++) {
					- var panelClass="panel-primary";
					if (averages[i].average>=70)
						- panelClass="panel-success"
					else if (averages[i].average>=55)
						- panelClass="panel-warning"
					else if (averages[i].average>=0)
						- panelClass="panel-danger"
					.panel(class=panelClass)
						a(role="button", data-toggle="collapse", data-parent="#accordionMarks", href="#collapse"+i, aria-expanded=(i==0)?"true":"false", aria-controls="collapse"+i)
							.panel-heading(role="tab", id="headingCategory"+i)
								.panel-title
									span(class='glyphicon glyphicon-plus pad5h', id="glyph"+i)
									span#resultHeading
										|#{cats[averages[i].typeID-1].categoryName}
										if (averages[i].average>=0)
											| : #{averages[i].average} %
										else if (averages[i].average ==-2)
											| : Exempt
						.panel-collapse.collapse(roll="tabpanel", id="collapse"+i, aria-labelledby="headingCategory"+i)
							.panel-body
								ul.list-unstyled
									- var categoryEntries=0;
									- for (;j<marks.length && averages[i].typeID==marks[j].typeID;j++, categoryEntries++){
										li.list-unstyled
											| #{marks[j].entryName}: 
											if (marks[j].mark>=0)
												| #{marks[j].mark} / #{marks[j].maxMarks}
											else if (marks[j].mark ==-2)
												| Exempt											
									- }	
								if !categoryEntries
									strong 
										| No entries found
						
					- }
		#chart_container(data-role='content')
