﻿extends layout

block headerScripts
	script.
		$(document).ready(function()
		{
			$("#errMissingID").hide();
		});
		function viewMarks()
		{
			var studentID=$("#textName").val();
			var courseCode=$("#selectCourse").val();
			if (!studentID || courseCode==-1)
			{
				$("#errMissingID").slideDown();
				return;
			}
			var currentURL=String(window.location);
			currentURL=currentURL.replace(/\/+$/, "");
			var newURL=(currentURL+"/"+courseCode+"/"+studentID);
			window.location=newURL;
		}

block content
	.navbar.navbar-inverse(role = 'navigation')
		.container
			.navbar-header
				.navbar-brand
					span.glyphicon.glyphicon-list-alt
					|UCT Physics WebMarks
	.container
	include includes/bannerImage.jade
	.container
		.panel.panel-primary
			.panel-heading
				h3.panel-title Student details
			.panel-body
				.row.pad5v
					.col-xs-12
						input.form-control#textName(type="text",name="textName", placeholder="Enter your PeopleSoft ID" ,onkeydown="if (event.keyCode == 13) viewMarks()")
				.row.pad5v
					.col-xs-7.col-sm-4.col-md-3
						a(for="selectCourse", align="center")
							select#selectCourse.selectpicker(name="selectCourse", align="center", data-width="100%", title='Select course')
								- for (var i = 0; i < courseInfo.length; i++) {
								option(value="#{courseInfo[i].coursePrefix}") #{courseInfo[i].courseName}
								- }
					.col-xs-5.col-sm-3.col-md-2
						button.btn.btn-primary.btn-block#buttonViewMarks(name="buttonViewMarks", align="center",onClick="viewMarks()") View Marks
		include includes/commonAlerts.jade
